.footer {
    display: flex;
    position: fixed;
    flex: 1;
    bottom: 0%;
    width: 100%;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
  }
  
  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  .footer button {
    /* justify-content: flex-end; */
    align-items: center;
    display: flex;
    border-radius: 100px;
    height: 70px;
    background-color: #0070f3;
    color: #eaeaea;
    border: 0ch;
    size: 100px;
    padding: 2rem;

    /* background-image: url('/public/newPostButton.svg'); */
  }

  .footer_newPost {
    justify-content: flex-end;
  }