
.grid-container {
  display: inline;
}

.grid-items{
     border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.card {
    margin: 1rem;
    padding-top: 2.5rem;
    padding-right: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 4.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 3px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    width: 1200px;
    height: 600px;;
  }
  .grid{
         
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 11100px;
    flex-direction: column;
  }
  